body {
  margin: 0;
  color: #61d4ac;
}

* {
  padding: 0;
  margin: 0;
}
canvas {
  position: absolute;
}

#grid {
  z-index: 0;
}

#top-canvas {
  z-index: 0;
  height: 100%;
  width: 100%;
}

#ucf-img {
  position: absolute;
  display: none;
  width: auto;
  height: 210;
}

#sideways-text {
  user-select: none;
}

html,
body {
  overflow: hidden;
}

.name-div {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  position: absolute;
  top: 47.5%;
  left: 48%;
  transform: translate(-50%, -50%);
  text-shadow: 0.03em 0.03em 0 #4d5eb3;
  margin-right: -6em;
}

.name-div p {
  display: inline;
  font-size: 28px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin: -0.3em;
  color: #324286;
  text-shadow: 0.03em 0.03em 0 #ffffff;
}

.abt-txt {
  padding: -20px;
  margin: -20px;
}

.abt-div {
  margin-left: 9px;
}

.abt-div p {
  position: relative;
  cursor: default;
}

.abt-div a {
  cursor: pointer;
  text-decoration: none;
  color: #324286;
  text-shadow: 0.03em 0.03em 0 #ffffff;
}

#abt-school {
  cursor: default;
}

/*
Mobile styles:
*/

.abt-div-mobile {
  display: none;
}

@media screen and (max-width: 1190px) {
  .name-div {
    font-size: 34px;
    position: absolute;
    margin: 0;
    top: 50vh;
  }

  #tagline-mobile {
    margin-block-start: 1em;
  }

  .name-div p {
    font-size: 21px;
    display: block;
    margin-block-start: 3em;
    margin-block-end: 3em;
    color: #324286;
  }

  .abt-div {
    display: none;
  }

  .abt-div-mobile {
    display: block;
    margin-left: 0.25em;
    text-align: center;
    color: #324286;
  }

  .link-txt-mobile {
    text-align: center;
  }

  .link-mobile {
    font-size: 32px;
    text-decoration: none;
  }
}
